<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
</head>
<body>
    <nav>
        <%- include ("./partials/nav.ejs") %>
    <nav>

    <h1>EDIT</h1>

    <div id="edit-container" class="container">
        <section class="card">
            <img alt="<%=mon.name %>" src="<%=mon.img %>" height="100px">
            <p><%=mon.name %></p>
        </section>
    </div>
</body>
</html>