<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs") %>
    <style type="text/css">
        body {
            display: flex;
            justify-content: center
        }
        #index-container {
            width: 30%;

            display :grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
        }
        section {
            width: 200px;

            border: 1px solid black;
        }
    </style>
</head>
<body>
    <nav>
        <%- include ("./partials/nav.ejs") %>
    <nav>

    <h1>Pokedex</h1>

    <div id="index-container" class="container">
        <% pokemon.forEach( (p, i) => { %>
            <section class="card">
                <a href="/pokemon/<%=i %>">
                <img alt="<%=p.name %>" src="<%=p.img %>" height="100px">
                <p><%=p.name %></p>
                </a>
            </section>
        <% }) %>
    </div>
</body>
</html>